:root {
  --cor-principal: #b3e2f7;
  --cor-secundaria: #C8A2C8;
  --cor-contraste: #1a1a2e;
}

body {
  background-color: var(--cor-principal);
  font-family: 'Poppins', sans-serif;
  color: var(--cor-contraste);
}

header h1 {
  color: white;
}

h1 {
  font-size: 2rem;
  color: var(--cor-contraste);
}

p {
  color: var(--cor-contraste);
}

header {
  background-color: var(--cor-contraste);
  color: white;
  padding: 2rem;
    text-align: center;
}

header p {
color: var(--cor-principal);
}

nav {
    background-color: var(--cor-secundaria);
    padding: 1rem 2 rem;
    display: flex;
    gap: 1rem;
}
nav a {
  color: var(--cor-contraste);
  text-decoration: none;
  font-weight: 500;
  padding: 0.5rem 1rem;
  border-radius: 8px
}

nav a:hover {
  background-color: var(--cor-principal);
}

main {
  padding: 2rem;
}

footer {
  background-color: var(--cor-contraste);
  color: white;
  text-align: center;
  padding: 1rem;
  width: 100%;
}






